:root {
    --primary-color: #172d75;
    --button-priamry-color: #665eff;
    --secondary-color: #80c1fd;
    --background-color: #F5F7FA;
    --third-color: #F3FAFF;
    --text-color: #333333;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
}

body>div>div:nth-child(2) {
    padding: 15px 10%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    border-bottom: 1px solid #e2e2e2;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); */
}

header>a {
    padding: 0 15px;
    border: transparent solid 2px;
    border-radius: 5px;
}

header>a:hover {
    border: gray solid 1px;
    border: black solid 2px;
}

#logo {
    height: 50px;
}

@media (max-width: 800px) {
    #logo {
        height: 40px;
    }

    #title {}
}

#contact-link {
    text-decoration: none;
    color: #1E1E1E;
    font-size: 1em
}

.banner {
    display: flex;
    align-items: center;
    height: 80vh;
}

.banner>.text {
    padding-bottom: 8%;
}

.banner>.text>a {
    text-decoration: none;
}

.banner>img {
    max-width: 800px;
    width: 60%;
    max-height: max-content;
}

@media (max-width: 1000px) {
    .banner {
        flex-direction: column;
        justify-content: center;
        height: 85vh;
    }

    .banner>img {
        width: 100%;
        height: max-content;
    }
}

#title {
    font-size: 1.4em;
}

@media (max-width: 800px) {
    #title {
        font-size: 1.2em;
    }
}

.banner>.text>a {
    background-color: var(--primary-color);
    color: white;
    padding: 15px 45px;
    border-radius: 10px;
    font-weight: 500;
}

.banner>.text>a:hover {
    background-color: #001b74;
}

.pricing {
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
    gap: 10px;
}

.pricing>hr {
    width: 80px;
    border: #1E1E1E solid 1px;
}

.pricing-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px;
    justify-content: center;
    align-items: end;
    margin-top: 40px;
    gap: 25px;
}

.pricing-card {
    background-color: white;
    border: var(--primary-color) solid 2px;
    color: #031273;
    border-radius: 10px;
    padding: 20px 30px;
    width: 250px;
    height: 370px;
}

.recommended {
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
}

.recommended>p {
    margin: 0;
    padding: 10px 10px;
    text-align: center;
}

.pricing-card span {
    font-size: 26px;
    font-weight: 600;
}

.pricing-card>hr {
    margin-inline-start: 0;
    width: 90px;
    border-top: #031273 solid 1px;
    margin-bottom: 20px;
}

.pricing-card h4 {
    margin: 10px;
}

.pricing-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pricing-card ul li {
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.pricing-card ul li::before {
    content: "✓";
    color: #031273;
    margin-right: 10px;
}

.pricing>p {
    max-width: 1300px;
    width: 80%;
    text-align: center;
    line-height: 1.5em;
    color: var(--primary-color);
    font-style: italic;
}


.features {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 50px 0 120px 0;
    color: #FFF;
    background-color: var(--primary-color);
}

.features>hr {
    width: 80px;
    border: #FFF solid 1px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    gap: 50px;
    padding: 0 30px;
}

.feature-card {
    background-color: var(--secondary-color);
    color: #031273;
    border-radius: 10px;
    padding: 20px 30px;
    width: 280px;
    height: 220px;
    line-height: 1.5em;
}

.feature-card>.head {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: large;
}

.feature-card .icon {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.feedSection {
    background-color: var(--background-color);
    padding: 70px 0 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedSection h1 {
    text-align: center;
    color: var(--text-color);
    background-color: var(--background-color);
    font-size: 40px;
    max-width: 600px;
    font-weight: 500;
    margin: 30px 0 60px 0;
}

.feed-subline {
    background-color: #b4dbff;
    padding: 6px 14px;
    border-radius: 14px;
    margin: 0;
}

.feedback {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
    gap: 40px;
    transition: opacity 0.3s ease-in-out;
    background-color: var(--background-color);
    padding: 0 10px;
}

.feedback.fade-out {
    opacity: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 40px;
    border: rgb(197, 197, 197, 0.2) solid 2px;
    border-radius: 10px;
    background-color: white;
}

@media (max-width: 400px) {
    .feedSection h1 {
        font-size: 30px;
    }
}

.logo>img {
    height: 40px;
    object-fit: contain;
}

.feed-text {
    font-size: x-large;
    max-width: 800px;
    width: 90%;
    line-height: 1.5em;
    font-style: italic;
}

@media (max-width: 600px) {
    .feed-text {
        height: 200px;
    }
}

@media (max-width: 416px) {
    .feed-text {
        height: 280px;
    }

    .organization {
        height: 60px;
    }
}

.content hr {
    width: 100%;
}

.bottom {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.bottom>.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

.bottom>.left p {
    margin: 0;
}

.organization {
    font-weight: 600;
}

.bottom>.right {
    display: flex;
}

.bottom>.right>.previous,
.bottom>.right>.forward {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

#preview {
    margin: 0;
    padding: 0;
}

.preview {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* background-color: #031273; */
}

.preview .left {
    background-color: #172d75;
    width: 60%;
    overflow: hidden;
    padding-top: 80px;
    padding-left: 40px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.preview .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    max-width: 900px;
}

.preview .right {
    background-color: white;
    height: 100%;
    width: 40%;
    font-size: 18px;
    padding: 20px;
    padding-left: 40px;
}

.preview h1 {
    font-size: 34px;
    font-weight: 500;
}

.preview .right p {
    margin-top: 0;
    max-width: 460px;

}

@media (max-width: 1000px) {

    .preview {
        flex-direction: column;
        gap: 0;
    }

    .preview .left,
    .preview .right {
        width: fit-content;
    }

    .preview .left {
        padding-top: 40px;
    }

    .preview .right {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
    padding-bottom: 160px;
    background-color: var(--background-color);
    color: var(--text-color);
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 50px;
    max-width: 1200px;
    width: 90%;
}

form>.left,
form>.right {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1000px) {
    form {
        gap: 20px;
    }

    form>.left,
    form>.right {
        width: 500px;
    }
}

form input,
form textarea {
    font-family: inherit;
    padding: 14px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    font-size: 16px;
}

form input:focus,
form textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form textarea {
    resize: vertical;
    height: 90px;
}

form textarea::placeholder {
    font-family: inherit;
}

form button {
    background-color: transparent;
    color: var(--primary-color);
    padding: 10px 20px;
    border: var(--primary-color) solid 2px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

form button:hover {
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
}


#submitBtn {
    transition: all 0.3s ease;
}

.fade-text {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.fade-text.show {
    opacity: 1;
}

#submitBtn.sent {
    background-color: #4caf50;
    color: white;
    cursor: not-allowed;
}

.contact>hr {
    width: 50%;
    border: black solid 1px;
}

.another-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.another-link a {
    text-decoration: none;
    color: #1E1E1E;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #FFF;
    padding: 5px 20px;
    border-radius: 10px;
}

.another-link a:hover {
    background-color: #D9D9D9;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
    background-color: #1E1E1E;
    color: #FFF;
}

.feed {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 40px 0;
}

.feed-track {
    display: flex;
    gap: 30px;
    transition: transform 0.8s ease;
}

.feed-card {
    flex: 0 0 700px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 40px 30px;
    opacity: 0.6;
    transform: scale(0.9);
    transition: transform 0.5s, opacity 0.5s;
}

.feed-card.active {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.feed img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 15px;
}